BookingWebApp/Connected Services/ServiceReference/BookingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2777/BookingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookingService.Models" />
  <xs:element name="GetWeekMeetings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeekMeetingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BookingService.Models" minOccurs="0" name="GetWeekMeetingsResult" nillable="true" type="q1:ArrayOfMeetingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BookingService.Models" minOccurs="0" name="meeting" nillable="true" type="q2:MeetingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMeetingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMeetingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMeetingFromId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMeetingFromIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveMeetingFromIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>