BookingWebApp/Connected Services/ServiceReference/BookingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2777/BookingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2777/BookingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2777/BookingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookingService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookingService_GetWeekMeetings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeekMeetings" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetWeekMeetings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeekMeetingsResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_AddMeeting_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMeeting" />
  </wsdl:message>
  <wsdl:message name="IBookingService_AddMeeting_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMeetingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_RemoveMeetingFromId_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMeetingFromId" />
  </wsdl:message>
  <wsdl:message name="IBookingService_RemoveMeetingFromId_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMeetingFromIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookingService">
    <wsdl:operation name="GetWeekMeetings">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/GetWeekMeetings" message="tns:IBookingService_GetWeekMeetings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/GetWeekMeetingsResponse" message="tns:IBookingService_GetWeekMeetings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMeeting">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/AddMeeting" message="tns:IBookingService_AddMeeting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/AddMeetingResponse" message="tns:IBookingService_AddMeeting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMeetingFromId">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/RemoveMeetingFromId" message="tns:IBookingService_RemoveMeetingFromId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/RemoveMeetingFromIdResponse" message="tns:IBookingService_RemoveMeetingFromId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookingService" type="tns:IBookingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWeekMeetings">
      <soap:operation soapAction="http://tempuri.org/IBookingService/GetWeekMeetings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMeeting">
      <soap:operation soapAction="http://tempuri.org/IBookingService/AddMeeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMeetingFromId">
      <soap:operation soapAction="http://tempuri.org/IBookingService/RemoveMeetingFromId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookingService">
    <wsdl:port name="BasicHttpBinding_IBookingService" binding="tns:BasicHttpBinding_IBookingService">
      <soap:address location="http://localhost:2777/BookingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>